@import './media-queries';

.gd-title {
    font-size: 3rem;
}

.gd-sub-title {
    font-size: 1.5rem;
}

.gd-list-items {
    font-size: 2rem;
}

#gd-img-logo {
    width: 64px;
    height: 64px;
}

@include mobile {
    .gd-title {
        font-size: 2.5rem;
    }
    .gd-list-items {
        font-size: 1.2rem;
    }
    #gd-img-logo {
        width: 48px;
        height: 48px;
    }
}
